<nav>
  <a class="button" routerLink="/proba1">Proba1</a> |
  <a class="button" routerLink="/proba2">Proba2</a> |
  <a class="button" routerLink="/proba3">Proba3</a> |
  <a class="button" routerLink="/proba4">Proba4</a> |
  <a class="button" routerLink="/proba5">Proba5</a> |
  <a class="button" routerLink="/studenti">Studenti</a> |
  <a class="button" routerLink="/zaposlenici">Zaposlenici</a> |
  <a class="button" routerLink="/opstine">Opstine</a> |
  <a class="button" routerLink="/putanju-do-drzava">Dugme drzave</a> |
</nav>

<router-outlet></router-outlet>
